#main-div {
    background-color: cadetblue;
    width: fit-content;
    /* width: 200px; */
    padding: 16px;
    /* width: 40%; */
}

.row {
    background-color: bisque;
    /* margin: auto; */
    padding: 6px;
    margin: 20px;
}

label {
    display: inline-block;
    width: 100px;
}