table,
tr,
th,
td {
    text-align: center;
    border: 1px solid black;
}

#main-div {
    background-color: rgb(224, 167, 92);
    width: fit-content;
    padding: 10px;
    margin: auto;
}

input {
    margin: 5px;
    text-align: center;

}

/* 
tr:hover {
    background-color: cyan;
} */

tr:nth-child(odd):hover {
    background-color: green;
}

tr:nth-child(even):hover {
    background-color: cyan;
}

tr:nth-child(3):hover {
    background-color: black;
}